:root {
  --main-white: #ffffff;
  --main-blue: #2c99ed;
  --muted-blue: #406683;
  --main-grey: #9b9b9b;
}

* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--main-white);
  position: relative;
  min-height: 100%;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/Background.png");
  z-index: -1;
}

/* universal setting */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

a:hover {
  color: var(--main-blue);
}

footer a:hover {
  color: var(--main-grey);
}

/* font setting    */

.text-cap {
  text-transform: uppercase;
}

.text-grey {
  color: var(--main-grey);
}

h2 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1px;
}

h5 {
  padding-top: 1.5em;
  font-size: 1.375rem;
  letter-spacing: 1px;
}

h6 {
  font-size: 1rem;
  padding: 1em;
}

p {
  font-size: 0.72rem;
  line-height: 160%;
}

/* nav and footer setting */
nav,
footer {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
}

nav ul,
footer ul {
  display: flex;
  align-items: center;
}

nav ul li,
footer ul li {
  margin-right: 2rem;
}

nav li {
  font-size: 1.25rem;
}

.collapse {
  display: none;
  padding: 0 3rem;
  text-align: right;
  width: 100vw;
}

.navbar-right:hover {
  opacity: 50%;
  cursor: pointer;
}

footer {
  font-size: 0.72rem;
  width: 100%;
  height: 50px;
  margin-bottom: -50px;
}

footer ul li {
  letter-spacing: 1.5px;
}
/* content container setting */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 8%;
  min-height: calc(100vh - 50px);
}

.content {
  padding: 1rem 4rem;
  flex: 0 1 calc(50% - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: center;
}

.right h6 {
  letter-spacing: 1.2px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border: 1.5px solid var(--main-grey);
  border-radius: 5px;
  width: 100%;
  margin: 0 10% 10%;
}

input {
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  padding: 1em;
  border: none;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

input::placeholder {
  color: var(--main-white);
}

button {
  background: var(--main-blue);
  font-size: 1em;
  outline: none;
  border: none;
  padding: 0.5em;
  color: var(--main-white);
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  background: var(--muted-blue);
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 30px !important;
  }
  .content {
    padding: 1rem 1rem;
  }
  footer {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 700px) {
  h5 {
    font-size: 1.25rem;
  }

  .navbar-middle {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .content {
    flex: 0 1 100%;
    text-align: center;
  }

  footer {
    height: 10rem;
    margin-bottom: -10rem;
  }

  footer,
  footer ul {
    flex-direction: column;
    justify-content: center;
  }

  footer ul {
    padding: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: min(72px, calc(30px + 5.6 * (1vw - 5px)));
  }

  nav li a {
    font-size: max(16px, 1.67vw);
  }

  h5 {
    font-size: max(20px, 1.83vw);
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: min(72px, calc(30px + 5.6 * (1vw - 5px)));
  }

  h5 {
    font-size: 22px;
  }

  .collapse {
    padding: 0 4rem;
  }
}
